<hr>
&copy; 2019.<br/>
Disclaimer: The information in this page might be inaccurate
<br>
       <hr> 
            CST336 Internet Programming. 2019&copy; Quiroz<br />
            <strong>Disclaimer</strong> Website is for academic puposes only.<br />

</body>
</html>