<% include partials/header.ejs %>
        <header>
            <h1 id= "headerc">C++ Programming!</h1>
        </header>
        <hr />
        <nav id= "navlinks">
            <a href="index.html"><strong>Home</strong></a>
            <a href="cplusplus.html">C++</a>
            <a href="javascript.html">Javascript</a>
            <a href="sql.html">SQL</a>
        </nav>
        
        <br /><br />
        
        <div id= "divcc">
            This page will be a brief history of the C++ language! <br /> 
            <p> </p>
        
        </div>
        
        <main>
            <div id= "probar"><progress></progress></div>
            <div id= "rightc">
            <figure>
                <img src = "img/c++pic.png" width="500" height="500" alt= "c++ pic"/>
            </figure>
            </div> 
            <div id= "leftc">
                <p>C++ is powerful programming language that was created in 1980s. Its purpose</p>
                <p>was to combine the language C with the goal to make it more object oriented.</p>
                <p>The language was young and took more than 20 years for it to get traction in</p>
                <p>and classified as a standarized programming language. However, in the real  </p>
                <p>world applications C++ is well known and utilize because of it's ability to</p>
                <p>allocate memory along with other things. This allows developers to use it for</p>
                <p>there specific idea. Learn more here <a href= "https://www.codingunit.com/cplusplus-tutorial-history-of-the-cplusplus-language">C++</a></p>
                
                <br />
                <p>C++ is on my list because of the field I want to get into, which is blockchain.</p>
                <p>I believe learning this language a bit more in depth will help my future career.</p>
                </div>
        </main>
        

        
 <% include partials/footer %>