<% include partials/header.ejs %>
        <header>
            <h3 id= "index_h1" >Sergio Personal Website Welcome!</h3>
        </header>
        <hr />
        <nav id= "navlinks">
            <a href="index.html"><strong>Home</strong></a>
            <a href="cplusplus.html">C++</a>
            <a href="javascript.html">Javascript</a>
            <a href="sql.html">SQL</a>
        </nav>
        
        <br /><br />

        <div id= "indexdiv">
            Hello, thank you for visiting my website here are a list of my top programming languages!<br />
            <p>1. C++ which is a powerful object oriented programming language.</p>
            <p>2. Javascript which is used mainly for front end developing.</p>
            <p>3. SQL which is a language that is used to communicate with databases.</p>
            <p>Thank you for visiting I hope you learn something useful!</p>
            
        </div>
        <div id= "probar"><progress></progress></div>
    

        <main>
            <figure id= "indexfig">
                <img src = "img/profun.jpg" width="400" height="400" alt= "fun pic"/>
            </figure>
        </main>

        <!-- This is the footer -->
 
       <footer>
            <hr> 
            CST336 Internet Programming. 2019&copy; Quiroz<br />
            <strong>Disclaimer</strong> Website is for academic puposes only.<br />
            
            
            
        </footer>
        <!-- closing footer -->
        
 <% include partials/footer %>