<% include partials/header.ejs %>
        <header id= "javaheader">
            <h1>Javascript!</h1>
        </header>
        <hr />
        <nav id= "navlinks">
            <a href="index.html"><strong>Home</strong></a>
            <a href="cplusplus.html">C++</a>
            <a href="javascript.html">Javascript</a>
            <a href="sql.html">SQL</a>
        </nav>
        
        <br /><br />
        <div id= "probar"><progress></progress></div>
        <div id= "javap1">
            The Javascript language<br />
            <p>With the birth of the internet and the need to make web pages more dynamic</p>
            <p>Javascript was created. There has been many doubts when it came to Javascript</p>
            <p>however it perservered. Jquery was created to make it simpler. Also there were</p>
            <p>frameworks that were also created such as React, Angular, and Vue.Js so name a few</p>
            <p>In the end of the day Javascript language is the most used language in the industry</p>
            <p>today. Take a look for your self on this link <a href= "https://blog.bitsrc.io/a-brief-history-of-javascript-from-netscape-to-frameworks-74bf4774eeef">click me.</a></p>
           
        </div>
        
        <main>
            <figure>
                <img src = "img/javascript.jpeg" width="500" height="300" alt= "java 1"/>
                <img src = "img/javathree.png" width="500" height="300" alt= "java pic"/>
            </figure>
        </main>
           
            <div id= "javap2">
            <em>Personal View</em>
            <br />
            <p>I think learning javascript and the frameworks will accelerate my career becasue it will</p>
            <p>give me experience in developing in javascript which is the most used language in the</p>
            <p>industry today.</p>
            </div>
        <!-- This is the footer -->
 
       <footer>
            <hr> 
            CST336 Internet Programming. 2019&copy; Quiroz<br />
            <strong>Disclaimer</strong> Website is for academic puposes only.<br />
            
            
            
        </footer>
        <!-- closing footer -->
        
 <% include partials/footer %>