<% include partials/header.ejs %>
        <header>
            <h1 id= "sqlh1">SQL Databases</h1>
        </header>
        <hr />
        <nav id= "navlinks">
            <a href="index.html"><strong>Home</strong></a>
            <a href="cplusplus.html">C++</a>
            <a href="javascript.html">Javascript</a>
            <a href="sql.html">SQL</a>
        </nav>
        <div id= "probar"><progress></progress></div>
        <br /><br />
        
        <div id= "sqldiv1">
            Brief History of SQL<br />
            <p>SQL was founded by IBM in the 1970s for large databases. As the language progressed</p>
            <p>people working for IBM began to implement more and more features into the language</p>
            <p>such as multi table and multi user tables. As adoption increased the language became</p>
            <p>standarized and other well known companies such as Oracle adopted SQL based products.</p>
            <p>Now SQL is the probably the second most used language out there.<a href= "https://chestofbooks.com/computers/databases/postgresql/practical-postgresql/A-Brief-History-of-SQL.html"> Link.</a></p>
            <br />
            <br />
            
        </div>
        <div id= "sqldiv2">
            <em>My outlook</em>
            <p>Personally I believe that every company has a database to store information whatever it</p>
            <p>can be. The need to learn SQL and NO-SQL are important. I believe that having a fundamental</p>
            <p>understanding about databases is essential to having a good gerneal idea of how the world works.</p>
            <p></p>
        </div>
        <main id= "sqlmain">
            <figure>
                <img src = "img/sqldatabase.jpeg" width="300" height="300" alt= "sqlbase"/>
                <img src = "img/sqllogo.png" width="300" height="300" alt= "sql logo"/>
            </figure>
        
        </main>

        <!-- This is the footer -->
 
       <footer>
            <hr> 
            CST336 Internet Programming. 2019&copy; Quiroz<br />
            <strong>Disclaimer</strong> Website is for academic puposes only.<br />
            
            
            
        </footer>
        <!-- closing footer -->
        
 <% include partials/footer %>